# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librer√≠a Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [5]:
import pandas as pd

def cargar_datos_ventas(ruta_archivo):
    # Definir los anchos de las columnas
    colspecs = [(0, 10),   # fecha
                (10, 40),  # producto
                (40, 50),  # precio
                (50, 55)]  # cantidad
    
    # Nombres de las columnas
    nombres_columnas = ['fecha', 'producto', 'precio', 'cantidad']
    
    # Cargar los datos usando pd.read_fwf
    df = pd.read_fwf(ruta_archivo, colspecs=colspecs, header=None, names=nombres_columnas)
    
    # Convertir los datos a sus tipos correctos (si es necesario)
    df['precio'] = df['precio'].astype(float)
    df['cantidad'] = df['cantidad'].astype(int)
    
    return df

# Ejemplo de uso:
ruta = 'datos.dat'
df_ventas = cargar_datos_ventas(ruta)
df_ventas

         fecha    producto  precio  cantidad
0   2024-08-27     Mirinda  1510.0        14
1   2024-08-27     Mirinda  1560.0        12
2   2024-08-28     Torasso   940.0         8
3   2024-08-29  Pepsi Cola  1210.0        10
4   2024-08-30     Mirinda  1520.0         1
5   2024-09-01     Mirinda  1550.0        15
6   2024-09-01      Sprite   810.0         4
7   2024-09-02   Coca Cola  1100.0         4
8   2024-09-02  Pepsi Cola  1220.0        13
9   2024-09-02     Torasso   910.0         5
10  2024-09-02     Torasso   920.0         3
11  2024-09-03   Coca Cola  1020.0         8
12  2024-09-03     Mirinda  1570.0         7
13  2024-09-03     Mirinda  1590.0         2
14  2024-09-04  Pepsi Cola  1220.0        13
15  2024-09-05     Mirinda  1500.0         3
16  2024-09-05  Pepsi Cola  1300.0         5
17  2024-09-06   Coca Cola  1080.0         1
18  2024-09-06      Sprite   860.0        12
19  2024-09-06     Torasso   930.0         3
20  2024-09-07   Coca Cola  1080.0        14
21  2024-09-07      Sprite   870.0        13
22  2024-09-08   Coca Cola  1040.0        10
23  2024-09-08     Mirinda  1580.0         2
24  2024-09-08  Pepsi Cola  1240.0         9
25  2024-09-09     Mirinda  1500.0         3
26  2024-09-09      Sprite   850.0         9
27  2024-09-10     Mirinda  1590.0         8
28  2024-09-10  Pepsi Cola  1250.0        12
29  2024-09-11      Sprite   810.0         6
30  2024-09-11      Sprite   820.0        14
31  2024-09-12   Coca Cola  1080.0         4
32  2024-09-13     Mirinda  1580.0         5
33  2024-09-13  Pepsi Cola  1250.0        13
34  2024-09-14   Coca Cola  1080.0        15
35  2024-09-14  Pepsi Cola  1270.0        14
36  2024-09-15   Coca Cola  1100.0         1
37  2024-09-15     Mirinda  1500.0        13
38  2024-09-15      Sprite   870.0        14
39  2024-09-15     Torasso   900.0        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una funci√≥n que sume los importes vendidos (precio * cantidad) y las cantidades.

In [38]:
def calcular_total_ventas(df):
    # Crear una columna 'importe' que es precio * cantidad
    df['importe'] = df['precio'] * df['cantidad']
    
    # Calcular el total de ventas (sumar todos los importes)
    total_importe = df['importe'].sum()
    
    # Calcular el total de cantidades vendidas
    total_cantidad = df['cantidad'].sum()
    
    return total_importe, total_cantidad

# Ejemplo de uso:
total_ventas, total_cantidades = calcular_total_ventas(df_ventas)
print(f"Total de ventas (importe): {total_ventas}")
print(f"Total de cantidades vendidas: {total_cantidades}")

Total de ventas (importe): 392730.0
Total de cantidades vendidas: 335

### Ejercicio 3: Listar las unidades vendidas.
Listar cu√°ntas unidades se vendieron en total para cada producto

In [53]:
def listar_unidades_vendidas(df):
    # Agrupar por 'producto' y sumar las cantidades vendidas
    unidades_por_producto = df.groupby('producto')['cantidad'].sum().reset_index()
    
    # Renombrar la columna resultado para que sea m√°s descriptiva
    unidades_por_producto.columns = ['producto', 'total_unidades_vendidas']
    
    return unidades_por_producto

# Ejemplo de uso:
unidades_vendidas = listar_unidades_vendidas(df_ventas)
unidades_vendidas

     producto  total_unidades_vendidas
0   Coca Cola                       57
1     Mirinda                       85
2  Pepsi Cola                       89
3      Sprite                       72
4     Torasso                       32

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [85]:
def listar_precio_promedio_por_producto(df):
    # Agrupar por 'producto' y calcular el promedio del precio
    precio_promedio_por_producto = df.groupby('producto')['precio'].mean().reset_index()
    
    # Renombrar la columna para que sea m√°s descriptiva
    precio_promedio_por_producto.columns = ['producto', 'precio_promedio']
    
    return precio_promedio_por_producto

# Ejemplo de uso:
precio_promedio = listar_precio_promedio_por_producto(df_ventas)
precio_promedio

     producto  precio_promedio
0   Coca Cola      1072.500000
1     Mirinda      1545.833333
2  Pepsi Cola      1245.000000
3      Sprite       841.428571
4     Torasso       920.000000

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos m√°s vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [96]:
def ranking_productos_mas_vendidos(df):
    # Agrupar por 'producto' y sumar las cantidades vendidas
    unidades_por_producto = df.groupby('producto')['cantidad'].sum().reset_index()
    
    # Ordenar los productos por cantidad de unidades vendidas de mayor a menor
    unidades_por_producto = unidades_por_producto.sort_values(by='cantidad', ascending=False)
    
    # Seleccionar los 3 primeros productos m√°s vendidos
    top_3_productos = unidades_por_producto.head(3)
    
    return top_3_productos

# Ejemplo de uso:
top_productos = ranking_productos_mas_vendidos(df_ventas)
top_productos

     producto  cantidad
2  Pepsi Cola        89
1     Mirinda        85
3      Sprite        72

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [105]:
def listar_ventas_por_mes(df):
    # Asegurarnos de que la columna 'fecha' est√© en formato de fecha
    df['fecha'] = pd.to_datetime(df['fecha'], format='%Y-%m-%d')  # Ajusta el formato seg√∫n los datos
    
    # Extraer el mes y el a√±o de la columna 'fecha'
    df['mes'] = df['fecha'].dt.to_period('M')  # Extrae a√±o-mes
    
    # Agrupar por 'producto' y 'mes', y sumar las cantidades vendidas
    ventas_por_mes = df.groupby(['producto', 'mes'])['cantidad'].sum().reset_index()
    
    # Renombrar la columna de cantidades para mayor claridad
    ventas_por_mes.columns = ['producto', 'mes', 'total_unidades_vendidas']
    
    return ventas_por_mes

# Ejemplo de uso:
ventas_mensuales = listar_ventas_por_mes(df_ventas)
ventas_mensuales

     producto      mes  total_unidades_vendidas
0   Coca Cola  2024-09                       57
1     Mirinda  2024-08                       27
2     Mirinda  2024-09                       58
3  Pepsi Cola  2024-08                       10
4  Pepsi Cola  2024-09                       79
5      Sprite  2024-09                       72
6     Torasso  2024-08                        8
7     Torasso  2024-09                       24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [109]:
def informe_general(df):
    # Calcular el precio promedio por producto
    precio_promedio = df.groupby('producto')['precio'].mean()
    
    # Calcular la cantidad total de unidades vendidas por producto
    cantidad_total = df.groupby('producto')['cantidad'].sum()
    
    # Calcular el importe total vendido por producto (precio * cantidad)
    df['importe'] = df['precio'] * df['cantidad']
    importe_total = df.groupby('producto')['importe'].sum()
    
    # Combinar los resultados en un DataFrame
    informe = pd.DataFrame({
        'precio_promedio': precio_promedio.round(0).astype(int),  # Redondear a enteros
        'total_unidades_vendidas': cantidad_total,
        'importe_total_vendido': importe_total
    }).reset_index()
    
    # Ordenar el DataFrame alfab√©ticamente por producto
    informe = informe.sort_values(by='producto')
    
    return informe

# Ejemplo de uso:
informe_productos = informe_general(df_ventas)
informe_productos

     producto  precio_promedio  total_unidades_vendidas  importe_total_vendido
0   Coca Cola             1072                       57                60780.0
1     Mirinda             1546                       85               131080.0
2  Pepsi Cola             1245                       89               110510.0
3      Sprite              841                       72                61040.0
4     Torasso              920                       32                29320.0

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una funci√≥n en Python que encuentre los valores de `a`, `b`, y `c` para que la funci√≥n cuadr√°tica `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La funci√≥n debe explorar posibles valores de `a`, `b`, y `c` utilizando un m√©todo de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la funci√≥n `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son n√∫meros peque√±os.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [135]:
import numpy as np

def cuadratica_prueba_y_error(puntos):
  
    rango = np.arange(-10, 11) 
    
    X = np.array([x for x, y in puntos])
    Y = np.array([y for x, y in puntos])

    
    for a in rango:
        for b in rango:
            for c in rango:
               
                f_x = a * (X ** 2) + b * X + c  
                
               
                if np.all(f_x == Y):  
                    return a, b, c

    return None

puntos = [(0, 0), (1, 8), (2, 12), (3, 12), (5, 0)]


resultado = cuadratica_prueba_y_error(puntos)

if resultado:
    print(f"Valores encontrados: a = {resultado[0]}, b = {resultado[1]}, c = {resultado[2]}")
else:
    print("No se encontraron valores que cumplan con los puntos dados.")

Valores encontrados: a = -2, b = 10, c = 0

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la funci√≥n que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la funci√≥n.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la funci√≥n y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agreg√°ndoles un peque√±o valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [136]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum((y - y_pred) ** 2)  

def buscar_coeficientes():
    
    coeficientes = randint(-10, 10, 3)
    learning_rate = 0.001
    error_actual = float('inf') 

    # Datos
    X = np.array([0, 1, 2, 3, 5])
    Y = np.array([0, 8, 12, 11, 1])  

    while error_actual > 1:  
     
        y_pred = f(X, coeficientes)
        error_actual = error(Y, y_pred)
        
        nuevos_coeficientes = coeficientes + (np.random.rand(3) * 2 - 1) * learning_rate
        
        
        nuevo_y_pred = f(X, nuevos_coeficientes)
        nuevo_error = error(Y, nuevo_y_pred)

       
        if nuevo_error < error_actual:
            coeficientes = nuevos_coeficientes  

    return coeficientes


coeficientes = buscar_coeficientes()
print("Coeficientes encontrados:", coeficientes)

Coeficientes encontrados: [-1.77999596  8.96172378  0.62604047]